<div style="margin-top: 40px;">
    <div class="col-md-6 text-center">
        {{#link-to 'user'}}User{{/link-to}}
    </div>

    <div class="col-md-6 text-center">
        {{#link-to 'user2'}}User{{/link-to}}
        <div>Using changeset helper</div>
    </div>
</div>
