<div style="margin-top: 40px;">
    <div class="col-md-6 text-center">
        {{#link-to 'user'}}User{{/link-to}}
        <h4>Using: ember-changeset & ember-changeset-validations</h4>
        <div>Validates User (firstName & lastName)</div>
    </div>

    <div class="col-md-6 text-center">
        {{#link-to 'user2'}}User{{/link-to}}
        <h4>Using: ember-changeset & ember-changeset-validations</h4>
        <div>
            Validates User (firstName & lastName) using the <strong>user</strong> changeset.
        </div>
        <div>
            Validates Address (country & town) using <strong>address</strong> changeset.
        </div>
    </div>

    <div class="col-md-6 text-center">
        {{#link-to 'user3'}}User{{/link-to}}
        <h4>Using: ember-changeset only</h4>
        <div>
            No Validation. Just ember-changeset.
        </div>
        <div>
            <strong>Flatten</strong> model then <strong>unflatten</strong> model.
        </div>
    </div>
</div>
