<div class="col-md-12">{{#link-to 'application'}}Back to the root{{/link-to}}</div>
{{edit-user2
    user=(changeset model UserValidations)
    address=(changeset model.address AddressValidations)
    save=(action "save")
    saveText='Save & Continue'
    back=(action 'back')
    backText='Back' 
    validateProperty=(action "validateProperty")  
}}